.selectedPage {
    font-weight: bold;
    display: inline-block;
    min-width: 35px;
    border: 1px solid rgb(16, 182, 10);
    background: chartreuse;
    border-radius: 15px;
    text-align: center;
    font-size: 15px;
    line-height: 35px;
}

.paginationLink{
    display: inline-block;
    min-width: 35px;
    border: 1px solid rgb(153, 169, 192);
    border-radius: 15px;
    text-align: center;
    font-size: 15px;
    line-height: 35px;
}