.contacts {
    width: 300px;
    margin: 0 10px;
}

.searchField {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.contactsList {
    padding: 0;
    width: 100%;
}

.contact {
    display: flex;
    align-items: center;
    font-family: sans-serif;
    width: 100%;
    padding: 5px;
    border-bottom: 1px dotted gray;
}

.contactImage {
    border-radius: 50%;
    margin: 5px;
}

.contactName {
    font-size: 20px;
    font-weight: bold;
}

.contactNumber {
    font-size: 18px;
    color: gray;
}